In [30]:
import pandas as pd
import numpy as np

In [31]:
company = pd.read_csv('company.csv')
company.rename(columns = {'datadate':'qdate'}, inplace = True)
company['qdate'] = pd.to_datetime(company['qdate'], format='%Y%m%d').dt.strftime('%Y%m%d')
company[company["gvkey"]==1004]

,gvkey,qdate,fyearq,fqtr,tic,cusip,conm,datacqtr,datafqtr,seqq,teqq,exchg,mkvaltq,ggroup,gind
0,1004,19900228,1989,3.0,AIR,000361105,AAR CORP,1990Q1,1989Q3,186.172,186.172,11,NaN,2010.0,201010.0
1,1004,19900531,1989,4.0,AIR,000361105,AAR CORP,1990Q2,1989Q4,189.548,189.548,11,NaN,2010.0,201010.0
2,1004,19900831,1990,1.0,AIR,000361105,AAR CORP,1990Q3,1990Q1,194.018,194.018,11,NaN,2010.0,201010.0
3,1004,19901130,1990,2.0,AIR,000361105,AAR CORP,1990Q4,1990Q2,189.503,189.503,11,NaN,2010.0,201010.0
4,1004,19910228,1990,3.0,AIR,000361105,AAR CORP,1991Q1,1990Q3,191.761,191.761,11,NaN,2010.0,201010.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,1004,20181130,2018,2.0,AIR,000361105,AAR CORP,2018Q4,2018Q2,935.600,935.600,11,1533.3006,2010.0,201010.0
116,1004,20190228,2018,3.0,AIR,000361105,AAR CORP,2019Q1,2018Q3,899.400,899.400,11,1280.9975,2010.0,201010.0
117,1004,20190531,2018,4.0,AIR,000361105,AAR CORP,2019Q2,2018Q4,905.900,905.900,11,1046.7709,2010.0,201010.0
118,1004,20190831,2019,1.0,AIR,000361105,AAR CORP,2019Q3,2019Q1,909.500,909.500,11,1502.3112,2010.0,201010.0
119,1004,20191130,2019,2.0,AIR,000361105,AAR CORP,2019Q4,2019Q2,921.700,921.700,11,1560.3067,2010.0,201010.0

In [32]:
ratios = pd.read_csv('ratios.csv')
ratios = ratios.sort_values(by=['public_date'])
ratios = ratios.drop_duplicates(subset=['gvkey', 'adate', 'qdate', 'roa', 'roe', 'debt_at','debt_assets', 'debt_capital', 'de_ratio', 'intcov','intcov_ratio'], keep="first")
ratios['qdate'] = pd.to_datetime(ratios['qdate'], format='%Y%m%d').dt.strftime('%Y%m%d')
ratios['adate'] = pd.to_datetime(ratios['adate'], format='%Y%m%d').dt.strftime('%Y%m%d')

In [33]:
data = company.merge(ratios, on=['gvkey', 'qdate'])
name = np.array(['gvkey', 'qtr_date_end', 'fyear', 'fquarter', 'ticker', 'cusip', 'company_name', 'calendar_qtr',
       'fiscal_qtr', 'sh_equity', 'total_sh_equity', 'exchange', 'mkt_val', 'group', 'industry', 'ann_date', 'public_date', 'roa', 'roe', 'd/a', 'D/A',
       'debt/capital', 'D/E', 'aft_tax_int_cov', 'int_cov_ratio'])
data.columns = name
data = data.drop(columns='fyear')
data = data.drop(columns='fquarter')

In [34]:
data1 = data[['calendar_qtr', 'fiscal_qtr', 'qtr_date_end', 'public_date', 'ticker', 'cusip', 'company_name', 'group', 'industry', 'D/E','roa','roe']]
data1 = data1.sort_values(by=['calendar_qtr'])
data1.to_csv (r'data0116.csv', index = None, header=True)

In [35]:
data1

,calendar_qtr,fiscal_qtr,qtr_date_end,public_date,ticker,cusip,company_name,group,industry,D/E,roa,roe
112466,1989Q4,1989Q4,19900131,19900331,ROST,778296103,ROSS STORES INC,2550.0,255040.0,1.407,0.256,0.274
37834,1989Q4,1989Q3,19900131,19900331,DWW,239133101,DAVIS WATER & WASTE,2550.0,255010.0,1.226,0.061,0.036
189594,1989Q4,1989Q4,19900131,19900331,DFI.2,267084101,DUTY FREE INTERNATIONAL INC,2550.0,255040.0,0.230,0.245,0.210
189739,1989Q4,1989Q4,19900131,19900331,UTOG.,913267100,UNITOG CO,2520.0,252030.0,2.028,0.189,0.139
37439,1989Q4,1989Q3,19900131,19900331,DRAM.1,23899E931,DATARAM CORP - OLD,4520.0,452020.0,0.151,0.137,0.136
...,...,...,...,...,...,...,...,...,...,...,...,...
444171,NaN,2011Q4,20110630,20110831,MSGN,553573106,MSG NETWORKS INC,5020.0,502010.0,0.891,NaN,NaN
444172,NaN,NaN,20110930,20111130,MSGN,553573106,MSG NETWORKS INC,5020.0,502010.0,0.858,NaN,0.048
449303,NaN,2016Q3,20170228,20170430,STAF,852387307,STAFFING 360 SOLUTIONS INC,2020.0,202020.0,5.594,NaN,NaN
449305,NaN,2016Q4,20170531,20170731,STAF,852387307,STAFFING 360 SOLUTIONS INC,2020.0,202020.0,5.285,NaN,NaN
449861,NaN,2004Q1,20031231,20040229,ACTI,00506P103,ACTIVIDENTITY CORP,4520.0,452020.0,0.081,-0.076,-0.116