In [135]:
import pandas as pd
import numpy as np
from scipy import stats
import statsmodels.api as sm
from sklearn import linear_model

In [117]:
data = pd.read_csv('data_v1.csv')
name = data.columns.values
name = np.array(['gvkey', 'date', 'fyear', 'fquarter', 'industry_format', 'consol',
       'popsrc', 'datafmt', 'ticker', 'cusip', 'conpany_name', 'currency', 'calendaryr_quarter',
       'fiscalyear_qtr', 'total_asset', 'cash', 'st_debt', 'lt_debt', 'net_income', 'ebitda',
       'int_exp', 'exchange', 'status', 'mkt_val', 'group', 'industry', 'sector',
       'subindustry'])

In [118]:
data.columns = name
data.head()

,gvkey,date,fyear,fquarter,industry_format,consol,popsrc,datafmt,ticker,cusip,...,net_income,ebitda,int_exp,exchange,status,mkt_val,group,industry,sector,subindustry
0,1004,19900228,1989,3,INDL,C,D,STD,AIR,361105,...,6.109,14.251,2.758,11,A,NaN,2010.0,201010.0,20.0,20101010.0
1,1004,19900531,1989,4,INDL,C,D,STD,AIR,361105,...,6.224,13.137,2.309,11,A,NaN,2010.0,201010.0,20.0,20101010.0
2,1004,19900831,1990,1,INDL,C,D,STD,AIR,361105,...,6.697,15.400,2.607,11,A,NaN,2010.0,201010.0,20.0,20101010.0
3,1004,19901130,1990,2,INDL,C,D,STD,AIR,361105,...,0.126,8.871,2.708,11,A,NaN,2010.0,201010.0,20.0,20101010.0
4,1004,19910228,1990,3,INDL,C,D,STD,AIR,361105,...,3.977,11.344,2.587,11,A,NaN,2010.0,201010.0,20.0,20101010.0

In [119]:
# there is no dual-listing
a = data[['ticker','exchange']].drop_duplicates().groupby('ticker').count()
a[a['exchange'] != 1]

Empty DataFrame
Columns: [exchange]
Index: []

In [120]:
# how many company compustst is inactively updating the data
# when compustat stop track the data, we believe the company will not be included in the top 1000 market cap range.
# so not affecting our analysis
len(data[data['status']== 'I']['ticker'].unique())

8536

In [121]:
len(data[data['status']== 'A']['ticker'].unique())

5576

In [122]:
# check if any company have 2 status
# if a company is not updated by the database anymore,
# the status changed to I for each time period before

inactive = data[data['status']== 'I']['ticker'].unique()
active = data[data['status']== 'A']['ticker'].unique()
duplicates = []
for ticker in inactive:
    if ticker in active:
        duplicates.append(inactive[i])
duplicates

[]

In [123]:
# 0(n)
def intersection(lst1, lst2): 
    lst3 = [value for value in lst1 if value in lst2] 
    return lst3 
   
print(intersection(inactive, active))

[]

In [124]:
len(data['ticker'].unique())

14111

In [125]:
data[data['ticker']=='TAM']

,gvkey,date,fyear,fquarter,industry_format,consol,popsrc,datafmt,ticker,cusip,...,net_income,ebitda,int_exp,exchange,status,mkt_val,group,industry,sector,subindustry
666554,311524,20100331,2010,1,INDL,C,D,STD,TAM,87509U106,...,NaN,NaN,NaN,11,I,NaN,1510.0,151010.0,15.0,15101050.0
666555,311524,20100630,2010,2,INDL,C,D,STD,TAM,87509U106,...,NaN,NaN,NaN,11,I,NaN,1510.0,151010.0,15.0,15101050.0
666556,311524,20100930,2010,3,INDL,C,D,STD,TAM,87509U106,...,NaN,NaN,NaN,11,I,NaN,1510.0,151010.0,15.0,15101050.0
666557,311524,20101231,2010,4,INDL,C,D,STD,TAM,87509U106,...,NaN,NaN,NaN,11,I,NaN,1510.0,151010.0,15.0,15101050.0
666558,311524,20110331,2011,1,INDL,C,D,STD,TAM,87509U106,...,NaN,NaN,NaN,11,I,NaN,1510.0,151010.0,15.0,15101050.0
666559,311524,20110630,2011,2,INDL,C,D,STD,TAM,87509U106,...,NaN,NaN,NaN,11,I,NaN,1510.0,151010.0,15.0,15101050.0
666560,311524,20110930,2011,3,INDL,C,D,STD,TAM,87509U106,...,NaN,NaN,NaN,11,I,NaN,1510.0,151010.0,15.0,15101050.0
666561,311524,20111231,2011,4,INDL,C,D,STD,TAM,87509U106,...,30.0,226.9,75.4,11,I,NaN,1510.0,151010.0,15.0,15101050.0
666562,311524,20120331,2012,1,INDL,C,D,STD,TAM,87509U106,...,-43.0,9.0,11.0,11,I,NaN,1510.0,151010.0,15.0,15101050.0
666563,311524,20120630,2012,2,INDL,C,D,STD,TAM,87509U106,...,7.0,68.0,19.0,11,I,NaN,1510.0,151010.0,15.0,15101050.0
666564,311524,20120930,2012,3,INDL,C,D,STD,TAM,87509U106,...,7.0,61.0,20.0,11,I,NaN,1510.0,151010.0,15.0,15101050.0
666565,311524,20121231,2012,4,INDL,C,D,STD,TAM,87509U106,...,-53.0,26.0,28.0,11,I,NaN,1510.0,151010.0,15.0,15101050.0
666566,311524,20130331,2013,1,INDL,C,D,STD,TAM,87509U106,...,8.0,67.0,24.0,11,I,NaN,1510.0,151010.0,15.0,15101050.0
666567,311524,20130630,2013,2,INDL,C,D,STD,TAM,87509U106,...,-13.0,66.0,24.0,11,I,1353.8756,1510.0,151010.0,15.0,15101050.0
666568,311524,20130930,2013,3,INDL,C,D,STD,TAM,87509U106,...,6.0,64.0,18.0,11,I,1347.8997,1510.0,151010.0,15.0,15101050.0
666569,311524,20131231,2013,4,INDL,C,D,STD,TAM,87509U106,...,-8.0,52.8,18.0,11,I,1342.1663,1510.0,151010.0,15.0,15101050.0
666570,311524,20140331,2014,1,INDL,C,D,STD,TAM,87509U106,...,10.0,70.0,18.0,11,I,1395.2951,1510.0,151010.0,15.0,15101050.0
666571,311524,20140630,2014,2,INDL,C,D,STD,TAM,87509U106,...,14.0,77.0,17.0,11,I,1546.1155,1510.0,151010.0,15.0,15101050.0
666572,311524,20140930,2014,3,INDL,C,D,STD,TAM,87509U106,...,29.0,75.0,18.0,11,I,1736.5896,1510.0,151010.0,15.0,15101050.0

In [126]:
# make sure data is sorted by ticker and time ascendingly
data.sort_values(by = ['ticker','date'],ascending = True, inplace = True)

In [127]:
# ret is the table we will be used for analysis
ret = data[['date', 'ticker', 'conpany_name','calendaryr_quarter', 'total_asset', 'st_debt', 'lt_debt', 'net_income', 'ebitda',
       'int_exp', 'exchange', 'status', 'mkt_val','industry', 'sector']].copy()
ret['ROA'] = ret['net_income']/ret['total_asset']
ret['total_debt'] = ret['st_debt']+ret['lt_debt']
ret['D/A'] = ret['total_debt']+ret['total_asset']

In [128]:
# match forward 1year ROA to current leverage
ret['lead_ROA'] = ret.groupby(['ticker'])['ROA'].shift(-4)
ret[ret['ticker']=='AAPL'].head()
# calculate change in current leverage
ret['1q_before_D/A'] = ret.groupby(['ticker'])['D/A'].shift(1)
ret['change_D/A']=(ret['D/A']-ret['1q_before_D/A'])/ret['1q_before_D/A']
ret

,date,ticker,conpany_name,calendaryr_quarter,total_asset,st_debt,lt_debt,net_income,ebitda,int_exp,...,status,mkt_val,industry,sector,ROA,total_debt,D/A,lead_ROA,1q_before_D/A,change_D/A
528523,19980131,A,AGILENT TECHNOLOGIES INC,1997Q4,NaN,NaN,NaN,161.0,NaN,0.0,...,A,NaN,352030.0,35.0,NaN,NaN,NaN,NaN,NaN,NaN
528524,19980430,A,AGILENT TECHNOLOGIES INC,1998Q1,NaN,NaN,NaN,93.0,NaN,0.0,...,A,NaN,352030.0,35.0,NaN,NaN,NaN,NaN,NaN,NaN
528525,19980731,A,AGILENT TECHNOLOGIES INC,1998Q2,NaN,NaN,NaN,54.0,NaN,0.0,...,A,NaN,352030.0,35.0,NaN,NaN,NaN,0.026733,NaN,NaN
528526,19981031,A,AGILENT TECHNOLOGIES INC,1998Q3,4987.0,0.0,0.0,-51.0,NaN,0.0,...,A,NaN,352030.0,35.0,-0.010227,0.0,4987.0,0.026819,NaN,NaN
528527,19990131,A,AGILENT TECHNOLOGIES INC,1998Q4,NaN,NaN,NaN,74.0,225.0,0.0,...,A,NaN,352030.0,35.0,NaN,NaN,NaN,0.018433,4987.0,NaN
528528,19990430,A,AGILENT TECHNOLOGIES INC,1999Q1,NaN,NaN,NaN,157.0,351.0,0.0,...,A,NaN,352030.0,35.0,NaN,NaN,NaN,0.022674,NaN,NaN
528529,19990731,A,AGILENT TECHNOLOGIES INC,1999Q2,5050.0,0.0,0.0,135.0,376.0,0.0,...,A,NaN,352030.0,35.0,0.026733,0.0,5050.0,0.019803,NaN,NaN
528530,19991031,A,AGILENT TECHNOLOGIES INC,1999Q3,5444.0,0.0,0.0,146.0,315.0,0.0,...,A,NaN,352030.0,35.0,0.026819,0.0,5444.0,0.036202,5050.0,0.078020
528531,20000131,A,AGILENT TECHNOLOGIES INC,1999Q4,7107.0,111.0,NaN,131.0,NaN,0.0,...,A,NaN,352030.0,35.0,0.018433,NaN,NaN,0.010860,5444.0,NaN
528532,20000430,A,AGILENT TECHNOLOGIES INC,2000Q1,7321.0,98.0,0.0,166.0,473.0,0.0,...,A,NaN,352030.0,35.0,0.022674,98.0,7419.0,0.011233,NaN,NaN
528533,20000731,A,AGILENT TECHNOLOGIES INC,2000Q2,7827.0,129.0,0.0,155.0,325.0,0.0,...,A,NaN,352030.0,35.0,0.019803,129.0,7956.0,-0.026096,7419.0,0.072382
528534,20001031,A,AGILENT TECHNOLOGIES INC,2000Q3,8425.0,110.0,0.0,305.0,586.0,0.0,...,A,NaN,352030.0,35.0,0.036202,110.0,8535.0,0.024668,7956.0,0.072775
528535,20010131,A,AGILENT TECHNOLOGIES INC,2000Q4,9208.0,556.0,0.0,100.0,428.0,0.0,...,A,NaN,352030.0,35.0,0.010860,556.0,9764.0,-0.036808,8535.0,0.143995
528536,20010430,A,AGILENT TECHNOLOGIES INC,2001Q1,9080.0,773.0,0.0,102.0,122.0,0.0,...,A,NaN,352030.0,35.0,0.011233,773.0,9853.0,-0.030711,9764.0,0.009115
528537,20010731,A,AGILENT TECHNOLOGIES INC,2001Q2,8622.0,794.0,0.0,-225.0,-46.0,0.0,...,A,NaN,352030.0,35.0,-0.026096,794.0,9416.0,-0.027024,9853.0,-0.044352
528538,20011031,A,AGILENT TECHNOLOGIES INC,2001Q3,7986.0,6.0,0.0,197.0,-320.0,0.0,...,A,NaN,352030.0,35.0,0.024668,6.0,7992.0,-0.028770,9416.0,-0.151232
528539,20020131,A,AGILENT TECHNOLOGIES INC,2001Q4,8558.0,0.0,1150.0,-315.0,-138.0,NaN,...,A,NaN,352030.0,35.0,-0.036808,1150.0,9708.0,-0.047490,7992.0,0.214715
528540,20020430,A,AGILENT TECHNOLOGIES INC,2002Q1,8238.0,0.0,1150.0,-253.0,-145.0,NaN,...,A,NaN,352030.0,35.0,-0.030711,1150.0,9388.0,-0.019168,9708.0,-0.032963
528541,20020731,A,AGILENT TECHNOLOGIES INC,2002Q2,8437.0,0.0,1150.0,-228.0,-171.0,NaN,...,A,NaN,352030.0,35.0,-0.027024,1150.0,9587.0,-0.259766,9388.0,0.021197
528542,20021031,A,AGILENT TECHNOLOGIES INC,2002Q3,8203.0,0.0,1150.0,-236.0,56.0,NaN,...,A,NaN,352030.0,35.0,-0.028770,1150.0,9353.0,0.002064,9587.0,-0.024408
528543,20030131,A,AGILENT TECHNOLOGIES INC,2002Q4,7770.0,0.0,1150.0,-369.0,-132.0,NaN,...,A,NaN,352030.0,35.0,-0.047490,1150.0,8920.0,0.011122,9353.0,-0.046295
528544,20030430,A,AGILENT TECHNOLOGIES INC,2003Q1,7617.0,0.0,1150.0,-146.0,-104.0,NaN,...,A,NaN,352030.0,35.0,-0.019168,1150.0,8767.0,0.015581,8920.0,-0.017152
528545,20030731,A,AGILENT TECHNOLOGIES INC,2003Q2,5990.0,0.0,1150.0,-1556.0,42.0,NaN,...,A,NaN,352030.0,35.0,-0.259766,1150.0,7140.0,0.014835,8767.0,-0.185582
528546,20031031,A,AGILENT TECHNOLOGIES INC,2003Q3,6297.0,0.0,1150.0,13.0,203.0,NaN,...,A,NaN,352030.0,35.0,0.002064,1150.0,7447.0,0.010488,7140.0,0.042997
528547,20040131,A,AGILENT TECHNOLOGIES INC,2003Q4,6384.0,0.0,1150.0,71.0,205.0,NaN,...,A,NaN,352030.0,35.0,0.011122,1150.0,7534.0,0.014406,7447.0,0.011683
528548,20040430,A,AGILENT TECHNOLOGIES INC,2004Q1,6675.0,0.0,1150.0,104.0,206.0,NaN,...,A,NaN,352030.0,35.0,0.015581,1150.0,7825.0,0.013071,7534.0,0.038625
528549,20040731,A,AGILENT TECHNOLOGIES INC,2004Q2,6741.0,0.0,1150.0,100.0,219.0,NaN,...,A,NaN,352030.0,35.0,0.014835,1150.0,7891.0,0.014146,7825.0,0.008435
528550,20041031,A,AGILENT TECHNOLOGIES INC,2004Q3,7056.0,0.0,1150.0,74.0,229.0,NaN,...,A,NaN,352030.0,35.0,0.010488,1150.0,8206.0,0.003703,7891.0,0.039919
528551,20050131,A,AGILENT TECHNOLOGIES INC,2004Q4,7150.0,0.0,1150.0,103.0,92.0,6.0,...,A,NaN,352030.0,35.0,0.014406,1150.0,8300.0,0.350860,8206.0,0.011455
528552,20050430,A,AGILENT TECHNOLOGIES INC,2005Q1,7268.0,0.0,1150.0,95.0,101.0,9.0,...,A,NaN,352030.0,35.0,0.013071,1150.0,8418.0,0.014273,8300.0,0.014217
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405994,19951231,NaN,NABISCO HOLDINGS CORP -CL A,1995Q4,12303.0,100.0,4355.0,116.0,408.0,84.0,...,I,NaN,302020.0,30.0,0.009429,4455.0,16758.0,NaN,NaN,NaN
405995,19960331,NaN,NABISCO HOLDINGS CORP -CL A,1996Q1,12365.0,201.0,4499.0,53.0,302.0,84.0,...,I,NaN,302020.0,30.0,0.004286,4700.0,17065.0,NaN,NaN,NaN
405996,19960630,NaN,NABISCO HOLDINGS CORP -CL A,1996Q2,12354.0,221.0,4505.0,-216.0,356.0,87.0,...,I,NaN,302020.0,30.0,-0.017484,4726.0,17080.0,NaN,NaN,NaN
405997,19960930,NaN,NABISCO HOLDINGS CORP -CL A,1996Q3,12464.0,287.0,4484.0,70.0,330.0,88.0,...,I,NaN,302020.0,30.0,0.005616,4771.0,17235.0,NaN,NaN,NaN
405998,19961231,NaN,NABISCO HOLDINGS CORP -CL A,1996Q4,12290.0,275.0,4213.0,110.0,412.0,85.0,...,I,NaN,302020.0,30.0,0.008950,4488.0,16778.0,NaN,NaN,NaN
405999,19970331,NaN,NABISCO HOLDINGS CORP -CL A,1997Q1,12212.0,321.0,4407.0,64.0,323.0,81.0,...,I,NaN,302020.0,30.0,0.005241,4728.0,16940.0,NaN,NaN,NaN
406000,19970630,NaN,NABISCO HOLDINGS CORP -CL A,1997Q2,12157.0,338.0,4283.0,103.0,390.0,82.0,...,I,NaN,302020.0,30.0,0.008472,4621.0,16778.0,NaN,NaN,NaN
406001,19970930,NaN,NABISCO HOLDINGS CORP -CL A,1997Q3,12153.0,285.0,4344.0,92.0,369.0,82.0,...,I,NaN,302020.0,30.0,0.007570,4629.0,16782.0,NaN,NaN,NaN
406002,19971231,NaN,NABISCO HOLDINGS CORP -CL A,1997Q4,12127.0,201.0,4334.0,146.0,502.0,81.0,...,I,NaN,302020.0,30.0,0.012039,4535.0,16662.0,NaN,NaN,NaN
406003,19980331,NaN,NABISCO HOLDINGS CORP -CL A,1998Q1,12063.0,234.0,4530.0,55.0,306.0,80.0,...,I,NaN,302020.0,30.0,0.004559,4764.0,16827.0,NaN,NaN,NaN
406004,19980630,NaN,NABISCO HOLDINGS CORP -CL A,1998Q2,11797.0,263.0,4356.0,-200.0,322.0,78.0,...,I,NaN,302020.0,30.0,-0.016953,4619.0,16416.0,NaN,NaN,NaN
406005,19980930,NaN,NABISCO HOLDINGS CORP -CL A,1998Q3,11276.0,193.0,3828.0,55.0,308.0,72.0,...,I,NaN,302020.0,30.0,0.004878,4021.0,15297.0,NaN,NaN,NaN
406006,19981231,NaN,NABISCO HOLDINGS CORP -CL A,1998Q4,11117.0,186.0,3619.0,19.0,382.0,66.0,...,I,NaN,302020.0,30.0,0.001709,3805.0,14922.0,NaN,NaN,NaN
406007,19990331,NaN,NABISCO HOLDINGS CORP -CL A,1999Q1,10944.0,332.0,3692.0,36.0,269.0,65.0,...,I,NaN,302020.0,30.0,0.003289,4024.0,14968.0,NaN,NaN,NaN
406008,19990630,NaN,NABISCO HOLDINGS CORP -CL A,1999Q2,10898.0,212.0,3644.0,65.0,315.0,64.0,...,I,NaN,302020.0,30.0,0.005964,3856.0,14754.0,NaN,NaN,NaN
406009,19990930,NaN,NABISCO HOLDINGS CORP -CL A,1999Q3,11077.0,213.0,3753.0,114.0,325.0,64.0,...,I,NaN,302020.0,30.0,0.010292,3966.0,15043.0,NaN,NaN,NaN
406010,19991231,NaN,NABISCO HOLDINGS CORP -CL A,1999Q4,11707.0,197.0,3892.0,142.0,451.0,67.0,...,I,NaN,302020.0,30.0,0.012129,4089.0,15796.0,NaN,NaN,NaN
406011,20000331,NaN,NABISCO HOLDINGS CORP -CL A,2000Q1,11578.0,83.0,4094.0,60.0,296.0,70.0,...,I,NaN,302020.0,30.0,0.005182,4177.0,15755.0,NaN,NaN,NaN
406012,20000630,NaN,NABISCO HOLDINGS CORP -CL A,2000Q2,11500.0,54.0,3977.0,98.0,360.0,72.0,...,I,NaN,302020.0,30.0,0.008522,4031.0,15531.0,NaN,NaN,NaN
406013,20000930,NaN,NABISCO HOLDINGS CORP -CL A,2000Q3,11610.0,180.0,3834.0,78.0,366.0,71.0,...,I,NaN,302020.0,30.0,0.006718,4014.0,15624.0,NaN,NaN,NaN
421377,20170331,NaN,BROOKFIELD INFRASTRCTR -REDH,2017Q1,NaN,NaN,NaN,NaN,NaN,NaN,...,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421378,20170630,NaN,BROOKFIELD INFRASTRCTR -REDH,2017Q2,NaN,NaN,NaN,NaN,NaN,NaN,...,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421379,20170930,NaN,BROOKFIELD INFRASTRCTR -REDH,2017Q3,NaN,NaN,NaN,NaN,NaN,NaN,...,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421380,20171231,NaN,BROOKFIELD INFRASTRCTR -REDH,2017Q4,9969.0,0.0,1768.0,207.0,1103.0,71.0,...,A,NaN,NaN,NaN,0.020764,1768.0,11737.0,NaN,NaN,NaN
421381,20180331,NaN,BROOKFIELD INFRASTRCTR -REDH,2018Q1,NaN,NaN,NaN,62.0,349.0,17.0,...,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421382,20180630,NaN,BROOKFIELD INFRASTRCTR -REDH,2018Q2,NaN,NaN,NaN,52.0,327.0,30.0,...,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421383,20180930,NaN,BROOKFIELD INFRASTRCTR -REDH,2018Q3,NaN,NaN,NaN,NaN,NaN,NaN,...,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421384,20181231,NaN,BROOKFIELD INFRASTRCTR -REDH,2018Q4,9240.0,0.0,3246.0,88.0,625.0,80.0,...,A,NaN,NaN,NaN,0.009524,3246.0,12486.0,NaN,NaN,NaN
421385,20190331,NaN,BROOKFIELD INFRASTRCTR -REDH,2019Q1,NaN,NaN,NaN,48.0,339.0,41.0,...,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421386,20190630,NaN,BROOKFIELD INFRASTRCTR -REDH,2019Q2,9480.0,0.0,3318.0,48.0,339.0,40.0,...,A,NaN,NaN,NaN,0.005063,3318.0,12798.0,NaN,NaN,NaN

In [144]:
# get rid of NAs
ret2=ret[['date', 'ticker','ROA', 'change_D/A', 'mkt_val']].copy()
ret2=ret2.dropna()
ret2

            date ticker       ROA  change_D/A     mkt_val
528555  20060131      A  0.350860    0.411050  14581.3000
528556  20060430      A  0.014273    0.003254  16366.9200
528557  20060731      A  0.029370   -0.034320  11631.9600
528558  20061031      A  0.020220   -0.039007  14524.8000
528559  20070131      A  0.020854   -0.019844  12960.0000
528560  20070430      A  0.016889    0.010353  13609.0765
528561  20070731      A  0.026338   -0.029489  14746.8062
528562  20071031      A  0.023828    0.131042  13634.5000
528563  20080131      A  0.016088   -0.005809  12460.4800
528564  20080430      A  0.022544    0.048305  10878.8627
528565  20080731      A  0.022411   -0.019108  12892.9285
528566  20081031      A  0.031061   -0.029830   7766.5000
528567  20090131      A  0.008936   -0.020498   6242.2285
528568  20090430      A -0.015359   -0.067905   6269.6440
528569  20090731      A -0.002891   -0.000458   8013.5006
528570  20091031      A  0.003284    0.205134   8563.7015
528571  20100131      A  0.010430   -0.002948   9754.4400
528572  20100430      A  0.013905    0.016786  12618.4800
528573  20100731      A  0.022527    0.198574   9663.7800
528574  20101031      A  0.030116    0.047660  12045.8112
528575  20110131      A  0.023993   -0.239337  14431.3500
528576  20110430      A  0.023124    0.059904  17368.6800
528577  20110731      A  0.037701    0.011860  14629.5200
528578  20111031      A  0.031909    0.029393  12840.3807
528579  20120131      A  0.025278    0.003380  14763.6338
528580  20120430      A  0.027090    0.027482  14657.5922
528581  20120731      A  0.024905    0.032873  13363.2100
528582  20121031      A  0.040338    0.077437  12469.5633
528583  20130131      A  0.016803    0.008994  15545.7800
528584  20130430      A  0.015680   -0.005456  14275.0854
...          ...    ...       ...         ...         ...
531144  20190331   ZYXI  0.124569    0.381735    145.0845
531145  20190630   ZYXI  0.098997    0.196762    291.7075
531146  20190930   ZYXI  0.082228    0.107055    309.3983
102421  20060531     ZZ  0.000138   -0.074168   1189.2235
102422  20060831     ZZ  0.031477    0.007706   1247.9030
102423  20061130     ZZ  0.021442    0.052225   1347.5179
102424  20070228     ZZ  0.024129    0.011133   1572.9038
102425  20070531     ZZ  0.015864   -0.007717   1505.6197
102426  20070831     ZZ  0.020989   -0.006595   1388.6905
102427  20071130     ZZ  0.016716   -0.005676   1178.9855
102428  20080229     ZZ  0.015457    0.025641    825.2111
102429  20080531     ZZ  0.011452   -0.018233    566.1320
102430  20080831     ZZ  0.010410   -0.000384    611.7002
102431  20081130     ZZ -0.045587   -0.069083    275.4692
102432  20090228     ZZ  0.004885   -0.040096     73.4944
102433  20090531     ZZ -0.005384    0.133525    175.0204
102434  20090831     ZZ  0.011589    0.014412    241.8810
102435  20091130     ZZ  0.002535   -0.009665    253.0376
102436  20100228     ZZ  0.005647   -0.005917    326.6828
102437  20100531     ZZ  0.000880   -0.042110    307.6255
102438  20100831     ZZ -0.016399   -0.003804    231.0205
102439  20101130     ZZ -0.004782   -0.019901    295.0178
102440  20110228     ZZ -0.000950    0.005339    282.0931
102441  20110531     ZZ -0.000404   -0.012495    256.9775
102442  20110831     ZZ  0.006961    0.008438    205.6442
102443  20111130     ZZ -0.016544   -0.013224    200.8228
102444  20120229     ZZ  0.001320    0.003373    173.5910
102445  20120531     ZZ  0.001817   -0.018184    169.7976
102446  20120831     ZZ -0.000109    0.027533    166.3424
102447  20121130     ZZ -0.002783    0.024754    226.3787

[201269 rows x 5 columns]

In [145]:
# select the top 1000 market cap company for each quarter
ret2['rank']=ret2.groupby(['date'])['mkt_val'].rank(ascending = False)

In [146]:
def solve_sv_regression(X, Y):
    model_iid = sm.OLS(Y, X).fit()
    model_hetero = sm.OLS(Y, X).fit(cov_type='HC1')
    model_serial = sm.OLS(Y, X).fit(cov_type='HAC',cov_kwds={'maxlags':4}) 
    return (model_iid, model_hetero, model_serial)

dates = ret2['date'].unique()
for date in dates:
    subdata = ret2[ret2['date']==date]
    X = subdata['change_D/A']
    Y = subdata['ROA']
    solve_sv_regression(Y, X)

MissingDataError: exog contains inf or nans